/* RESET */
.reset {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    object-fit: cover;
}

:root{
 
    /* COLOR  */
    --primary: #050A1A;
    --background-color:#DADFE3;
    --secondary-color:#AADC64;     
    --accent-1:#5E5AFF; 
    --accent-2:#17161C;
    --accent-3:#B45622;


    /* transition  */
    --trans-ease: all 0.25s ease;

    /* FONTS */

    --font-family-primary: 'NBInternationalPro-Regular', sans-serif;

    * {
        box-sizing: border-box;
    }
}


@font-face {
    font-family: 'NBInternationalPro-Regular';
    src: url('fonts/NBInternationalPro-Regular.ttf') format('truetype');
}


body{
    font-family: var(--font-family-primary);
    background-color: var(--primary);
    color: var(--background-color);
    margin: 0px;
}


#mobile{

    background-color: var(--background-color);
}

h1{
    text-transform: uppercase;
    font-size: 56px;
    color: var(--primary);
    padding-bottom: 64px;
    margin: 0px;

    @media (min-width: 640px) {
        font-size: 160px;
        color: var(--background-color);
    }
}

h2{
    text-transform: uppercase;
    font-size: 24px;
    padding-bottom: 64px;
    color: var(--primary);
    margin: 0px;

    @media (min-width: 640px) {
        font-size: 48px;
        color: var(--background-color);
    }
}

h3{

    font-size: 24px;
    margin: 0px;
    
    @media (min-width: 640px) {
        font-size: 56px;
        margin: 0px;
        
    }
}

p{
    font-size: 10px;
    margin: 0px;
    
    @media (min-width: 640px) {
        font-size: 20px;
    }
}

strong{
    color: var(--secondary-color);
}

header{
    padding-top: 32px;
    padding-inline: 16px;
    
    @media (min-width: 640px) {
        padding-inline: 64px;
        padding-top: 64px;

    }
}

.card-container{
    width: auto;
    
    .carousel{
        display: flex;
        overflow: auto;
        scroll-snap-type: x mandatory;
        padding-inline: 64px;
        gap: 64px;

        .card{
            position: relative;
            scroll-snap-align: center;
            /* margin-inline: 64px; */

            .info{
                display: flex;
                flex-direction: column;
                bottom: 0;
                position: absolute;
                padding: 32px;
                gap: 32px;

                .details{
                    display: flex;
                    gap: 32px;
                }
            }

            img{
                z-index: -1;
            }
        }
    }
}

.card-container{
    width: auto;


    .carousel{
        display: flex;
        overflow: auto;
        scroll-snap-type: x mandatory;

        .card-mobile{
            position: relative;
            scroll-snap-align: center;
                margin-inline: 16px;
    
                .info{
                    display: flex;
                    flex-direction: column;
                    bottom: 0;
                    position: absolute;
                    padding: 32px;
                    gap: 32px;
    
                    .details{
                        display: flex;
                        gap: 32px;
                    }
                }
    
                img{
                    z-index: -1;
                }
        }
    }
    
}




